.button--secondary,
.button--tertiary {
  --color-button: var(--color-secondary-button);
  --color-button-text: var(--color-secondary-button-text);
  border: 1px solid rgb(var(--color-secondary-button-text));
}

.button--secondary:hover,
.button--tertiary:hover {
  --color-button: var(--color-secondary-button-text);
  --color-button-text: var(--color-secondary-button);
  border: 1px solid rgb(var(--color-secondary-button-text));
}

.button,
.shopify-challenge__button,
.customer button {
  padding: 1.2rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  border: auto;
}

.button.button--primary {
  @apply tw-bg-primary-500 tw-text-white hover:tw-bg-secondary-500 hover:tw-text-primary-700 tw-uppercase;
}