.shopify-section {
  .collection__view-all a:not(.link) {
    margin-top: 1.6rem;
  }

  .collection-hero {
    &.no-image {
      background: rgb(var(--color-background));
    }
  }

  .product-grid-container {
    .collection {
      .product-grid {
        --grid-desktop-horizontal-spacing: 40px;
        --grid-desktop-vertical-spacing: 40px;
      }
    }
  }

  .pagination__item {
    width: 40px;
    height: 40px;
    @apply tw-text-primary-700 tw-mr-1 tw-rounded-full tw-border tw-border-solid tw-border-primary-700 tw-flex tw-items-center tw-justify-center;

    &:hover,
    &.pagination__item--current {
      @apply tw-bg-secondary-1000 tw-no-underline;
      &::after {
        content: none;
      }
    }
  }
}
