.shopify-section {
  .collection__view-all a:not(.link) {
    margin-top: 1.6rem;
  }

  .collection-hero {
    &.no-image {
      background: rgb(var(--color-background));
    }
  }

  .product-grid-container {
    .collection {
      .product-grid {
        --grid-desktop-horizontal-spacing: 40px;
        --grid-desktop-vertical-spacing: 40px;
      }
    }
  }
}
