.facets-vertical {
  .facets__summary {
    @apply tw-text-text-md tw-font-medium tw-text-neutral-300 tw-py-[24px];
    &:hover {
      .facets__summary-label {
        @apply tw-no-underline;
      }
    }
  }

  .facets__label {
    @apply tw-items-center;
    .facet-checkbox__text {
      @apply tw-text-neutral-300;
      font-size: 16px;
    }
  }

  .facet-checkbox {
    & > input[type="checkbox"]:checked ~ .icon-checkbox {
      visibility: visible;
    }
    .icon-checkbox {
      @apply tw-absolute;
    }
  }

  span.active-facets__button-inner {
    border-radius: 0;
  }

  @media screen and (min-width: 750px) {
    .facets__disclosure-vertical {
      border-top: 0.1rem solid #efe5d9;
      margin-right: 0;
    }
    aside.facets-wrapper {
      padding-right: 4rem;
    }
  }
}
