<a href="{{mega_image.settings.link}}" class="tw-block tw-relative tw-group tw-overflow-hidden tw-transition-all">
    {{ mega_image.settings.image | image_url: width: 420 | image_tag: class: 'group-hover:tw-blur-sm group-hover:tw-scale-125 tw-duration-500' }}
    <span class="tw-font-heading tw-absolute tw-bottom-1 tw-left-2 tw-uppercase tw-text-display-xs tw-text-white lg:tw-opacity-0 group-hover:tw-opacity-100 tw-duration-500 ">{{ mega_image.settings.title }}</span>
    {% render 'icon-right-arrow'
      , class: 'tw-absolute tw-top-2 tw-right-2 tw-opacity-0 group-hover:tw-opacity-100 group-hover:-tw-rotate-45  tw-duration-500 tw-hidden lg:tw-block tw-text-white' %}
  </a>